.cardboxc {
  width: 100%;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0px 7px 11px 0px rgba(179,179,179,1);
  -moz-box-shadow: 0px 7px 11px 0px rgba(179,179,179,1);
  box-shadow: 0px 7px 11px 0px rgba(179,179,179,1);
}
.cardboxc:hover {
  transform: translateY(-16px); 
}

.card-img, .card-img-top {
  border-radius: 0px;
}
p.card-text {
  text-align: left;
  padding: 20px 30px 0px 30px;
}
p.card-text a {
  text-decoration: none;
}
p.card-text a {
  text-decoration: none;
  color: #f70759;
  text-transform: uppercase;
  font-weight: 600;
}
.card-img, .card-img-top {
  max-height: 200px;
}
.card-body {
  min-height: 100px;
  padding: 0px;
}
.cardprice {
  text-align: right;
  background: #f70759;
  font-size: 20px;
  font-weight: 600;
  float: right;
  color: white;
  padding: 0px 30px;
}