.row.menudestinos .col {
  border: 1px solid #d82260;
}
.row.menudestinos {
  background: white;
}
.row.menudestinos a {
  text-decoration: none;
}
p.menudestinosp {
  margin: 6px;
  color: #f70759;
}
h2.titulolista {
  margin-bottom: 16px;
}