img.planeimage {
  max-width: 75%;
}
.registrado {
  padding-top: 70px;
}
.registrado a {
  color: #F70759;
  text-decoration: none;
  font-weight: 600;
}
.inicio h2 {
  color: #F70759;
  font-weight: bold;
}