img.loginimage {
  max-width: 100%;
}
input#username {
  width: 100%;
  border: none;
  border-bottom: 2px solid #f70759;
  margin-bottom: 30px;
  background: transparent;
}
input#password {
  width: 100%;
  border: none;
  border-bottom: 2px solid #f70759;
  margin-bottom: 30px;
  background: transparent;
}
button {
  float: right;
  background: #f70758;
  border: none;
  color: white;
  padding: 7px 42px;
  border-radius: 20px;
}
.col.formulary {
  padding-top: 11%;
}
p{
  text-align: center;
}
.page-layout .container {
  padding-bottom: 0px;
}
.container {
  padding: 0px;
}